.modal-block {
  width: 66%;
  height: 100%;
  position: fixed;
  top: 65px;
  right: 0;
  background-color: #ecf3f7;
  opacity: 1;
}

.modal-header {
  background-color: #002c49;
  padding: 13px 31px 12px 36px;
  display: flex;
  justify-content: space-between;
}

.modal-title {
  color: white;
  font-size: 18px;
  display: flex;
  align-items: center;
  flex: 1;
}

.modal-name {
  color: white;
  padding-left: 25px;
  flex: 6;
  font-weight: 300;
}

.modal-cancel {
  flex: 2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.modal-cancel img {
  width: 16px;
  height: 16px;
  cursor: pointer;
  display: block;
}

.modal-content {
  padding: 0 31px 0 36px;
  display: flex;
  height: 100%;
}

.modal-content-wrap {
  padding-top: 64px;
  padding-right: 33px;
  flex: 4;
  height: 500px;
  overflow: scroll;
  overflow-x: hidden;
}

.btn-save {
  width: 150px;
  padding: 11px 0;
  display: block;
  margin-bottom: 44px;
}

.modal-description span {
  color: #9f9ea7;
  font-size: 14px;
  display: block;
  margin-bottom: 15px;
}

.modal-description-text {
  font-size: 14px;
  line-height: 18px;
  max-width: 650px;
  color: #060606;
  font-weight: 500;
}

.modal-add-comment-textarea {
  margin-top: 50px;
  transition: background-color 0.2s;
  background-color: #ecf3f7;
  border: none;
}

.modal-add-comment-textarea:focus {
  background-color: #fff;
  border: 1px solid #e8e8e8;
}
