.text-field {
  margin-bottom: 22px;
}

.text-field-title {
  margin-bottom: 14px;
  font-size: 14px;
  color: #9f9ea7;
}

.text-field-textarea {
  width: 625px;
  border-radius: 5px;
  border: 1px solid #e8e8e8;
  background-color: #f9f9fa;
  resize: none;
  outline: none;
  padding: 7px;
  box-sizing: border-box;
}
