.table-row,
.table-row-head {
  display: flex;
  border-bottom: 1px solid #dae0e7;
  padding: 19px 0;
}

.table-row:hover {
  background-color: #f4f4f4;
  cursor: pointer;
}

.table-row-head {
  padding: 11px 0;
}
.table-row-head div:not(:first-child) {
  border-left: 2px solid #e2e7ea;
}
.table-row div:not(:first-child),
.table-row-head div:not(:first-child) {
  padding-left: 20px;
  box-sizing: border-box;
}

.table-cell-head {
  font-weight: 500;
  position: relative;
}

.table-cell {
  font-weight: 300;
  position: relative;
}

.table-cell:first-child,
.table-cell-head:first-child {
  text-align: center;
  flex: 1;
}

.table-cell:nth-child(2),
.table-cell-head:nth-child(2) {
  flex: 4;
}

.table-cell:nth-child(3),
.table-cell-head:nth-child(3) {
  flex: 1;
}

.table-cell:nth-child(4),
.table-cell-head:nth-child(4) {
  flex: 11;
}

.border-left {
  width: 5px;
  height: 50px;
  border-radius: 2px;
  background-color: #f75394;
  position: absolute;
  left: 0;
  top: -12px;
}

.status-btn {
  width: 80px;
  height: 22px;
  border-radius: 11px;
  background-color: #fd5e53;
  font-size: 12px;
  border: none;
  color: white;
  font-weight: 300;
  box-sizing: border-box;
}

.row-class div {
  color: #525460 !important;
  font-weight: 400 !important;
}

.skeleton {
  width: 700px;
  border-radius: 2px;
  height: 40px;
  margin: 15px 0 15px 15px;
  background: linear-gradient(
    90deg,
    rgba(205, 205, 205, 1) 34%,
    rgba(215, 215, 215, 1) 66%
  );
}
